@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* main variables */
:root{
    --main-color: #bc9667;
    --second-color: #ede3e3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
section{
    padding: 50px 100px;
}
/* start of header */
header{
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
    height: 85px;
	background-color: #724729;
	z-index: 2;
}

.title img{
	width: 60px;
	height: auto;
	max-width: 60px;
	cursor: pointer;
	padding: 10px;
}

.spred-links ul{
	display: flex;
	flex-direction: row;
}

.spred-links ul li a{
	color: whitesmoke;
	padding: 10px;
  margin: 3px;
	font-size: 25px;
	cursor: pointer;
}

.spred-links ul li a:hover{
	text-decoration: underline;
	color: black;
	font-family: 'Dancing Script', cursive;
	color: var(--hover);
}

span{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 42px;
	cursor: pointer;
	background-color: var(--transparent-color);
	padding: 16px;
}

@media(max-width: 900px){
	.spred-links{
		display: none;
	}
	span{
		display: block;
	}
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 100px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--hover);
  font-family: 'Dancing Script', cursive;
	color: var(--hover);
}

.sidenav .closebtn {
  position: absolute;
  top: -65px;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.icon i{
	font-size: 30px;
	display: block;
	background-color: var(--main-color);
	padding: 10px;
	color: whitesmoke;
	cursor: pointer;
	border-radius: 50%;
	padding: 10px;
}
@media(max-width: 768px){
	.nav-bar{
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: grey;
	}
	.nav-bar ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.nav-bar ul li{
		width: 100%;
		height: 100%;
	}
	.nav-bar ul li a{
		display: block;
	}
	.icon i{
		right: 0;
		top: 5px;
		z-index: 10;
	}
}
/*header*/
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}
.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.home-text p{
    font-size: 0.938rem;
    color: var(--bg-color);
    margin: 0.5rem 1.4rem;
    margin-bottom: 25px;
}
.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}
.btn:hover{
    background: #8a6f4d;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    border-radius: 0.5rem;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
/* products */
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.products-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.products-container img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}
.products-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem; 
}
.products-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.products-container .box .content span{
    padding: 0 1rem;
    color: var(--bg-color);
    background: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
}
.products-container .box .content a{
    padding: 0 1rem;
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
}
.products-container .box .content a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
/* customers */
.customers-conatiner{
    display: flex;
    justify-content: center;
}
.customers-conatiner .box{
    padding: 20px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
}
.stars .bx{
    color: var(--main-color);
}
.customers-conatiner .box p{
    font-size: 0.938rem;
}
.customers-conatiner .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.customers-conatiner .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.customers-conatiner .box:hover{
    background: var(--second-color);
    transition: 0.2s all linear;
}
/* footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background-color: var(--second-color);
    border-radius: 0.2rem;
}
.social a .bx:hover{
    background-color: var(--bg-color);
    color: var(--bg-color);
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color: var(--main-color);
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.contact span{
    display: flex;
    align-items: center;
}
.contact i{
    font-size: 20px;
    margin-right: 1rem;
}
.copyright{
    width: 100%; 
    padding: 20px;
    text-align: center;
    background: var(--second-color);
}
@media (max-width: 1058px) {
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
}
@media (max-width: 991px) {
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
        margin-top: 60px;
    }
}
@media (max-width: 768px) {
    header{
        padding: 12px 4%;
    } 
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
        /* display: none; */
    }
    .navbar a{
        color: var(--text-color);
    }
    .navbar a:hover{
        color: var(--bg-color);
    }
    .navbar .active{
        top: 100%;
    }
    .about{
        align-items: center;
    }
    .customers-conatiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }   
}
@media (max-width: 360px) {
    header{
        padding: 9px 4%;
    }
    .logo img{
        width: 45px;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .about-img{
        order: 2;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
    .heading h2{
        font-size: 1.2rem;
    }
}