*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../img/bg.png);
}
.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
    margin-top: 80px;
}
.contactUs .tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.contactUs .tittle h2{
    color: #bc9667;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba( 0, 0, 0, 0.15);
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
}

/* form */
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
    width: 100%;
}
.inputBox h6{
    color: #bc9667;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
}
.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type = "submit"]{
    background: #bc9667;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.infoBox ul > li{
    padding: 10px;
}
.infoBox ul > li a{
    color: #bc9667;
    font-weight: 500;
    cursor: pointer;
}
.infoBox ul > li a:hover{
    color: #1b1b1b;
    font-weight: 500;
}
@media (max-width: 991px) {
    .contactUs{
        padding: 20px; 
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
    }
}