@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* main variables */
:root{
    --main-color: #bc9667;
    --second-color: #ede3e3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
    --section-padding: 80px;
    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: "open sans", sans-serif;
}
ul{
	list-style: none;
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px){
	.container{
		width: 750px;
	}
}
@media (min-width: 992px){
	.container{
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}
/*  ///////////////////start of services///////////// */
.main-heading h2{
	font-weight: normal;
	font-size: 40px;
	position: relative;
	margin-bottom: 70px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}
.main-heading h2:before{
	content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background-color: #333;
    bottom: -24px;
    width: 120px;
}
.main-heading h2:after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 2px solid #333;
	bottom: -30px;
	background-color: white;
}
.services{
	padding-top: var(--section-padding);
}
.srv-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}
.srv-box img{
    width: 125px;
    height: auto;
}
.srv-box .note{
    padding: 7px;
    margin: 7px;
}
.srv-box .note h3{
    text-transform: uppercase;
}
.srv-box .note h5{
    font-size: 16px;
    color: var(--main-color);
}